$primary: #9555af;
$primary-light: #c28ed6;
$primary-dark: #7e3f97;

$warning: #ffc107;
$error: #f44336;
$success: #4caf50;

$grey: #9e9e9e;
$grey-30: #303030;
$grey-400: #bdbdbd;

$white: #ffffff;

$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
