* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  font: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  outline: none;
}

.btn {
  background-color: $primary;
  color: $white;
  padding: 4px 8px;
  border-radius: 2px;

  &:hover {
    background-color: $primary-light;
  }
}

.flex-fill {
  flex-grow: 1;
}